.container
  .row{ :style => 'margin-bottom: 40px' } 
    .col-md-12.text-center
      - if current_user == nil
        %h1
          Provably Fair Bitcoin Gambling
        %h2
          Register to try BitsinoDice out for free
  .row
    .col-md-3
      #userDetails
        %dl
          %dt Name
          %dd
            %input#username.form-control{:type => "text", :value => current_user.try(:name), :readonly => "true"} 
          %dt User Id
          %dd
            %input#userid.form-control{:type => "text", :value => current_user.try(:id), :readonly => "true" } 
              
      #seeds
        %dl
          %dt Server Seed
          %dd
            %input#server-seed.form-control{:readonly => "true", :type => "text", :value => session[:server_seed]}
          %dt Client Seed
          %dd
            %input#client-seed.form-control{:type => "text"}/
    .col-md-6.well
      = form_for(@bet, html: { role: 'form', class: 'inline-form submit-once', id: 'betForm' }) do |f|
        .row
          .col-md-12
            %label Probability of winning
            %div#probability-slider.slider{ style: 'width: 100%' }
            %input#start-prob{ type: 'hidden', value: @bet.game }
        .row{ style: 'margin-top:20px' }
          .col-md-12
            %label Amount of Bet.
            %div#amount-slider.slider{ style: 'width: 100%' }
            %input#range{ type: 'hidden', value: @data_slider_range}
            = f.hidden_field :amount, id: 'amount-hidden'
        .row{ style: 'margin-top:20px' }
          .col-md-3
            .form-group
              %label Roll Under
              = f.text_field :game, class: 'form-control', readonly: true, value: '49.50', id: 'roll-prob'
              = f.hidden_field :rolltype
              = f.hidden_field :client_seed, id: 'client-seed-form'
          .col-md-3
            %label For a profit of
            %input#bet_profit.form-control{:readonly => "true", :type => "text", :value => "0"}/
          .col-md-3
            %label With probability
            %input#bet_chance.form-control{:readonly => "true", :type => "text", :value => "49.50%"}/
          .col-md-3
            %label Amount of Bet
            %input{ type: 'text', class: 'form-control input-small', readonly: "true", id: 'amount-view', placeholder: 'Amount', value: '0' } 
        .form-group{:style => "margin-top: 10px"}
          - if current_user == nil
            = f.submit 'Roll Dice', class: 'btn btn-block btn-info disabled', id: 'roll-button'
          - else 
            = f.submit 'Roll Dice', class: 'btn btn-block btn-info btn-raised', id: 'roll-button'
    .col-md-3.btc-options
      .row
        .col-md-12
          %label BTC Balance
          - if current_user != nil
            %input#balance.form-control{:type => "text", 
              :value => number_to_human(current_user.balance_as_btc, precision: 8, strip_insignificant_zeros: true), 
              :readonly => "true", "data-address" => "#{current_user.try(:address)}"} 
          - else
            %input#balance.form-control{:type => "text", :value => '0', :readonly => "true"} 
      .row{ style: 'margin-top:10px' }
        .col-md-12
          - if current_user == nil
            %button.btn.btn-primary.disabled.btn-block
              %i.mdi-action-account-balance-wallet
              Deposit
          - else 
            %button.btn.btn-primary.btn-block{"data-target" => "#depositModal", "data-toggle" => "modal"}
              %i.mdi-action-account-balance-wallet
              Deposit
      .row{ style: 'margin-top:10px' }
        .col-md-12
          - if current_user == nil
            %button.btn.btn-primary.disabled.btn-block
              %i.mdi-action-account-balance
              Cashout
          - else
            %button.btn.btn-primary.btn-block{"data-target" => "#cashoutModal", "data-toggle" => "modal"}
              %i.mdi-action-account-balance
              Cashout
          
      .row{ style: 'margin-top:10px' }
        .col-md-12
          - if current_user == nil
            %button.btn.btn-primary.disabled.btn-block
              %i.mdi-action-receipt
              Transaction History
          - else
            %button.btn.btn-primary.btn-block#transButton{"data-target" => "#transactionModal", "data-toggle" => "modal"}
              %i.mdi-action-receipt
              Transaction History
.container
  .row
    .col-md-12
      %table.table.table-striped
        %thead
          %tr
            %th Bet ID
            %th User
            %th Time
            %th Bet
            %th Payout
            %th Game
            %th Roll
            %th Profit
        %tbody#bets
          = render :partial => "bets_table_rows"

= render :partial => "deposit_modal"

= render :partial => "cashout_modal"

= render :partial => "transaction_history_modal"

= render :partial => "verification_modal"