.container
  .row
    .col-md-3
      #userDetails
        %dl
          %dt Name
          %dd
            .input-group
              %input#username.form-control{:type => "text", :value => current_user.try(:name), :readonly => "true", "data-address" => "#{current_user.try(:username)}"} 
              %span.input-group-addon
                = fa_icon "pencil"
          %dt User Id
          %dd#userId= current_user.try(:id)
      #seeds
        %dl
          %dt Server Seed
          %dd
            %input#server-seed.form-control{:readonly => "true", :type => "text", :value => session[:server_seed]}
          %dt Client Seed
          %dd
            %input#client-seed.form-control{:type => "text"}/
    .col-md-6.well
      = form_for(@bet, html: { role: 'form', class: 'inline-form', id: 'betForm' }) do |f|
        .row
          .col-md-12
            %label Probability of winning
            %input#probability-slider{ type: 'text', 'data-slider' => "true", 
              'data-slider-range' => '0.5,99.5', 'data-slider-step' => '0.5', value: "49.5" }
        .row{ style: 'margin-top:20px' }
          .col-md-12
            %label Amount of Bet.
            = f.text_field :amount, id: 'amount-slider', 'data-slider' => "true", 'data-slider-step' => '1000', 
              'data-slider-range' => @data_slider_range
        .row{ style: 'margin-top:20px' }
          .col-md-3
            .form-group
              %label Roll Under
              .input-group
                %span.input-group-addon <
                = f.text_field :game, class: 'form-control', readonly: true, value: '49.50', id: 'roll-prob'
                = f.hidden_field :rolltype
                = f.hidden_field :client_seed, id: 'client-seed-form'
          .col-md-3
            %label For a profit of
            %input#bet_profit.form-control{:readonly => "true", :type => "text", :value => "0"}/
          .col-md-3
            %label With probability
            %input#bet_chance.form-control{:readonly => "true", :type => "text", :value => "49.50%"}/
          .col-md-3
            %label Amount of Bet
            %input{ type: 'text', class: 'form-control input-small', readonly: "true", id: 'amount-view', placeholder: 'Amount', value: '0' } 
        .form-group{:style => "margin-top: 10px"}
          - if current_user == nil
            = f.submit 'Roll Dice', class: 'btn btn-block btn-primary', id: 'roll-button', disabled: 'disabled'
          - else 
            = f.submit 'Roll Dice', class: 'btn btn-block btn-primary', id: 'roll-button'
          
    .col-md-3.btc-options
      .row
        .col-md-12
          %label Balance
          .input-group
            %span.input-group-addon BTC
            %input#balance.form-control{:type => "text", :value => current_user.try(:balance), :readonly => "true", "data-address" => "#{current_user.try(:address)}"} 
      .row{ style: 'margin-top:10px' }
        .col-md-12
          - if current_user == nil
            %button.btn.btn-primary.btn-block{"data-target" => "#depositModal", "data-toggle" => "modal", disabled: 'disabled' }
              Deposit
          - else 
            %button.btn.btn-primary.btn-block{"data-target" => "#depositModal", "data-toggle" => "modal"}
              Deposit
      .row{ style: 'margin-top:10px' }
        .col-md-12
          - if current_user == nil
            %button.btn.btn-primary.btn-block{"data-target" => "#cashoutModal", "data-toggle" => "modal", disabled: 'disabled'}
              Cashout
          - else
            %button.btn.btn-primary.btn-block{"data-target" => "#cashoutModal", "data-toggle" => "modal"}
              Cashout
          
      .row{ style: 'margin-top:10px' }
        .col-md-12
          - if current_user == nil
            %button.btn.btn-primary.btn-block#transButton{"data-target" => "#transactionModal", "data-toggle" => "modal", disabled: 'disabled'}
              Transaction History
          - else
            %button.btn.btn-primary.btn-block#transButton{"data-target" => "#transactionModal", "data-toggle" => "modal"}
              Transaction History
.container
  .row
    .col-md-12
      %table.table.table-striped
        %thead
          %tr
            %th Bet ID
            %th User
            %th Time
            %th Bet
            %th Payout
            %th Game
            %th Roll
            %th Profit
        %tbody#bets
          - @bets.each do |bet|
            %tr
              %td.text-primary
                = bet.id
              %td
                = bet.user.name
              %td
                = time_ago_in_words(bet.created_at)
                ago.
              %td
                = (bet.amount / 100000000).round(6)
              %td
                = bet.multiplier.round(2)
              %td
                - if bet.rolltype == 'under'
                  <
                - else
                  >
                = bet.game
              %td
                = bet.roll
              %td
                - if bet.win? or bet.amount == 0
                  %span.label.label-success
                    = (bet.profit / 100000000).round(6)
                - else
                  %span.label.label-default
                    = (-(bet.amount / 100000000)).round(6)
        
#registerModal.modal.fade{"data-backdrop" => "static"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span.aria-hidden
            &times;
          %span.sr-only
            Close
        %h4.modal-title Register/Sign In
      .modal-body
        %form{:role => "form"}
          .row
            .col-md-12
              %label Username
              %input#user_username.form-control{:name => "username", :type => "text"}/
            .col-md-12
              %label Password
              %input#user_password.form-control{:name => "password", :type => "password"}/
            .col-md-12
              %input.btn.btn-primary{:style => "margin-top: 10px", :type => "submit", :value => "Register"}/
              %a.btn.btn-primary{:href => "javascript:void(0)", :style => "margin-top: 10px"} Sign In
#depositModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span.aria-hidden
            &times;
          %span.sr-only
            Close
        %h4.modal-title Deposit
      .modal-body
        %p.center-block Please send funds to:
        %h3.center-block
          - if current_user != nil
            = current_user.bitcoin_address
            %table.qr-code
              - @qr.modules.each_index do |x|
                %tr
                  - @qr.modules.each_index do |y|
                    %td{:class => (@qr.dark?(x,y) ? 'black' : 'white')}
                    
#cashoutModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span.aria-hidden
            &times;
          %span.sr-only
            Close
        %h4.modal-title Cashout
        %p Please note a fee of 0.0005 BTC will be taken from your balance.
      .modal-body
        %form{:role => "form"}
          .row
            .col-md-12
              %label Address
              %input#address.form-control{:name => "address", :type => "text"}/
            .col-md-12
              %label Amount
              %input#amount.form-control{:name => "amount", :type => "text"}/
            .col-md-12
              %input.btn.btn-primary{:style => "margin-top: 10px", :type => "submit", :value => "Cashout"}/
#transactionModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span.aria-hidden
            &times;
          %span.sr-only
            Close
        %h4.modal-title Transaction History
      .modal-body
        %table.table.table-striped
          %thead
            %tr
              %th Amount
              %th Type
              %th Status
              %th Date
          %tbody#transactions
        
#betModal.modal