.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h4.modal-title Bet Information
    .modal-body
      %table.table.table-striped
        %tbody
          %tr
            %th ID
            %td= @bet.id
          %tr
            %th User ID
            %td= @bet.user_id
          %tr
            %th Time
            %td= @bet.created_at.strftime('%d/%m/%Y %H:%M:%S')
          %tr
            %th Roll
            %td= @bet.roll
          %tr
            %th Game
            %td
              = @bet.rolltype == 'under' ? '<' : '>'
              = @bet.game
          %tr
            %th Amount
            %td= @bet.amount
          %tr
            %th Profit
            %td= @bet.profit
          %tr
            %th Server Seed
            %td= @bet.server_seed
          %tr
            %th Client Seed
            %td= @bet.client_seed
          %tr
            %th Secret
            %td= @bet.secret