<div class="container">
  <div class="row">
    <h3>Bit Dice Installation</h3>
    
    <p>To configure Bitdice we need to connect to the Onchain.io cold storage service.</p>
    
    <p>Please supply your master public key and fund address</p>
    
    <%= form_for(@cold_storage, html: { role: 'form', class: 'inline-form', id: 'betForm' }) do |f| %>
    
    

      <% if @cold_storage.errors.any? %>
        <div class="alert alert-warning">
          <h4><%= "#{pluralize(@cold_storage.errors.count, "error")} prohibited this master_public_key from being saved:" %></h4>
          <% @cold_storage.errors.full_messages.each do |msg| %>
            <li><p><%= msg %></p></li>
          <% end%>
        </div>
      <% end%>
    
      <%= f.text_field :fund_address, class: 'form-control input-small', placeholder: 'E.g. 3F3QYfBbgDDbYFvxmKq1v2c2Nspp3nyjXd' %>
      <%= f.text_field :mpk, class: 'form-control input-small', placeholder: 'E.g. xpub69n5sWwu7AAuyxEGp6MD5NeW58vBcUYoJB2CMFFsAjxJvpoJkQd78NSRVL3kzjd4rprvrLi2iKnm3QJCTfcTZSsfs5SnQgK7e2mu7EuUko9' %>
      

      <%= submit_tag("Save") %>
    
    <% end %>
    
  </div>
</div>