.container
  .row
    %h3
      = t('project_name')
      Secure Cold Storage Installation
    %p 
      To configure 
      = t('project_name')
      we need to connect to the ONCHAIN.IO cold storage service. ONCHAIN.IO provides multi signature
      funds to secure yours and your users money.
    %p
      Create or log into your account on ONCHAIN.IO and complete the following steps.
      %ol
        %li
          Go to the funds menu and create a new fund.
        %li
          Add up to 10 people to the fund. People in the fund will have the ability to sign transactions.
        %li
          Click the send invites button.
        %li 
          Wait until all your invitees have accepted the invitations and added their public keys to the
          fund.
        %li
          Click on the fund and copy all the public keys to the form below.

  .row          
    %h4 Enter each public key on a new line.
    = form_for(@cold_storage, html: { role: 'form', class: 'inline-form', id: 'betForm' }) do |f|
      - if @cold_storage.errors.any?
        .alert.alert-warning
          %h4= "#{pluralize(@cold_storage.errors.count, "error")} prohibited this master_public_key from being saved:"
          - @cold_storage.errors.full_messages.each do |msg|
            %li
              %p= msg
      = f.text_area :mpk, class: 'form-control input-small', rows: '5', placeholder: 'E.g. xpub69n5sWwu7AAuyxEGp6MD5NeW58vBcUYoJB2CMFFsAjxJvpoJkQd78NSRVL3kzjd4rprvrLi2iKnm3QJCTfcTZSsfs5SnQgK7e2mu7EuUko9'
      %br
      = submit_tag("Save", :class => 'btn btn-success')