<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div id="userDetails">
        <dl>
          <dt>Username</dt>
          <dd id="username"><%= current_user.try(:username) %></dd>
        
          <dt>User ID</dt>
          <dd id="userId"><%= current_user.try(:id) %></dd>
        </dl>
      </div>

      <div id="seeds">
        <dl>
          <dt>Server Seed</dt>
          <dd>
            <input type="text" id="server-seed" class="form-control" readonly="true" value="<%= session[:server_seed] %>" />
          </dd>

          <dt>Client Seed</dt>
          <dd>
            <input type="text" id="client-seed" class="form-control" />
          </dd>
        </dl>
      </div>
    </div>

    <div class="col-md-6 well">
      
      <%= form_for(@bet, html: { role: 'form', class: 'inline-form', id: 'betForm' }) do |f| %>
        <div class="row">
          <div class="col-md-6">
            <label>Amount</label>
            <%= f.text_field :amount, class: 'form-control input-small', placeholder: 'Amount', value: '0.00000000' %>
          </div>

          <div class="col-md-6">
            <label>Profit</label>
            <input type="text" id="bet_profit" class="form-control" readonly="true" value="0.00000000" /> 
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Game</label>
              <%= f.text_field :game, class: 'form-control', readonly: true, value: '49.50' %>

              <div id="rolltype">  
                <label class="radio-inline">
                  <%= f.radio_button :rolltype, 'over' %> Over
                </label>
                
                <label class="radio-inline">
                  <%= f.radio_button :rolltype, 'under' %> Under
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <label>Multipler</label>
            <%= f.text_field :multiplier, class: 'form-control', placeholder: 'Payout', value: '2.0000' %>
          </div>

          <div class="col-md-4">
            <label>Chance</label>
            <input type="text" id="bet_chance" class="form-control" value="49.50" /> 
          </div>
        </div>

        <div class="form-group" style="margin-top: 10px">
          <%= f.submit 'Roll Dice', class: 'btn btn-block btn-primary', disabled: 'disabled' %>
        </div>
      <% end %>
      
    </div>

    <div class="col-md-3 btc-options">
      <div class="row">
        <div class="col-md-12">
          <label>Balance</label>
          <div class="input-group">
            <span class="input-group-addon">BTC</span>
            <input type="text" id="balance" class="form-control" value="<%= current_user.try(:balance) %>"" readonly="true" data-address="<%= current_user.try(:address) %>" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#depositModal">
            Deposit
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#cashoutModal">
            Cashout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Bet ID</th>
            <th>User</th>
            <th>Time</th>
            <th>Bet</th>
            <th>Payout</th>
            <th>Game</th>
            <th>Roll</th>
            <th>Profit</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="registerModal" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Register/Sign In</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="row">
            <div class="col-md-12">
              <label>Username</label>
              <input type="text" name="username" id="user_username" class="form-control" />
            </div>

            <div class="col-md-12">
              <label>Password</label>
              <input type="password" name="password" id="user_password" class="form-control" />
            </div>

            <div class="col-md-12">
              <input type="submit" class="btn btn-primary" value="Register" style="margin-top: 10px" />
              <a href="javascript:void(0)" class="btn btn-primary" style="margin-top: 10px">Sign In</a>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="depositModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Deposit</h4>
      </div>
      <div class="modal-body">
        <p class="center-block">Please send funds to:</p>
        <h3 class="center-block"></h3>
        <div class="center-block" id="qrcode"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cashoutModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Cashout</h4>
        <p>Please note a fee of 0.0005 BTC will be taken from your balance.</p>
      </div>
      <div class="modal-body">
        <form role="form" class="">
          <div class="row">
            <div class="col-md-12">
              <label>Address</label>
              <input type="text" id="address" name="address" class="form-control" />
            </div>

            <div class="col-md-12">
              <label>Amount</label>
              <input type="text" id="amount" name="amount" class="form-control" />
            </div>

            <div class="col-md-12">
              <input type="submit" class="btn btn-primary" value="Cashout" style="margin-top: 10px" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="betModal"></div>