<td class="text-primary">{{id}}</td>
<td>{{username}}</td>
<td>{{dateFormat created_at format="DD/MM/YYYY HH:mm:ss"}}</td>
<td>{{amount}}</td>
<td>{{multiplier}}</td>
<td>{{rolltype}} {{game}}</td>
<td>{{roll}}</td>
<td class="{{win_or_lose}}">{{profit}}</td>