!!!
%html
  %head
<<<<<<< HEAD
    %title 
      = t('project_name')
=======
    %title Bitdice
>>>>>>> c02aca2118c5ec627b3f0c0f4de3102aba73220a
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
<<<<<<< HEAD
          %a.navbar-brand{:href => "#"} 
            = t('project_name')
=======
          %a.navbar-brand{:href => "#"} Project name
>>>>>>> c02aca2118c5ec627b3f0c0f4de3102aba73220a
    = yield